.env
.venv
.pid.txt
.pid-old.txt
.mypy_cache
generated-models/**
pytest_unit.xml
.redundant/**
**/*.log
_test_generic_webhook.sh

# Flask_MonitorDasboard
.dashboard.db
.config.cfg

# Misc
.DS_Store
temp
**__pycache__**
zbrowser.db
zchecker.db
.env-old
