ads==0.12.3
aniso8601==4.1.0
APScheduler==3.6.0
asn1crypto==0.24.0
astropy==5.3.3
astropy-helpers==3.2.1
astroquery==0.4.4.dev7007
atomicwrites==1.3.0
beautifulsoup4==4.7.1
certifi==2023.7.22
cffi==1.12.3
chardet==3.0.4
Click==7.0
colorhash==1.0.2
configparser==3.7.1
cryptography==42.0.4
cycler==0.10.0
decorator==4.4.0
entrypoints==0.3
Flask==2.3.2
Flask-MonitoringDashboard==2.1.3
flask-restplus==0.12.1
GeoAlchemy2==0.6.3
gunicorn==19.9.0
html5lib==1.0.1
httpretty==0.8.10
idna==2.8
inflect==2.1.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jeepney==0.4
Jinja2==3.1.3
jsonschema==2.6.0
jupyter-core==4.11.2
keyring==19.0.2
kiwisolver==1.1.0
MarkupSafe==1.1.0
matplotlib==3.1.0
mock==3.0.5
nbformat==4.4.0
numpy==1.21.2
passlib==1.7.1
pg8000==1.13.1
Pillow>=6.2.2
plotly==3.7.1
psutil>=5.6.6
psycopg2-binary==2.8.6
pycparser==2.19
pyflakes==2.1.0
PyMySQL==0.9.3
python-dateutil==2.8.0
python-dotenv==0.10.1
pytz==2018.9
redis==3.3.8
requests>=2.20.0
retrying==1.3.3
rq==1.1.0
scipy==1.11.1
SecretStorage==3.1.1
soupsieve==1.9.1
sqlacodegen==2.0.1
SQLAlchemy==1.3.5
sqlalchemy-stubs==0.1
sseclient==0.0.24
synphot==1.1.0
traitlets==4.3.2
tzlocal==1.5.1
urllib3==1.26.18
wcwidth==0.1.7
webencodings==0.5.1
werkzeug<=0.16.0
wrapt==1.11.1
wheel==0.38.1
-e git+git://github.com/NASA-Planetary-Science/sbpy@master#egg=sbpy
-e git+git://github.com/Small-Bodies-Node/sbsearch.git@v1.1.8#egg=sbsearch
-e git+git://github.com/Small-Bodies-Node/catch.git@v0.5.3#egg=catch
