-e git+https://git@github.com/Small-Bodies-Node/sbsearch.git@v3.0rc1#egg=sbsearch
-e git+https://git@github.com/Small-Bodies-Node/catch.git@v2.0rc1#egg=catch
-e git+https://git@github.com/Small-Bodies-Node/catch-apis.git@v3.0rc3#egg=catch-apis
