Flask>=1.1.2
Flask-Cors>=3.0.10
gunicorn==20.0.4
connexion>=2.7.0
swagger-ui-bundle>=0.0.8
python-dotenv==0.14.0
pytest-remotedata==0.3.2
pytest-cov
sqlalchemy==1.3.5
redis==3.3.8
walrus==0.8.1
requests>=2.20.0
rq==1.1.0
cython>=0.29.17
numpy==1.19
astropy>=3.2,<4
astroquery==0.4.1
sbpy>=0.2.2
pds4_tools==1.2
-e git+git://github.com/Small-Bodies-Node/sbsearch.git@05cf758c0c42d45ad080e4c54f06a7826fce39ea#egg=sbsearch
-e git+git://github.com/Small-Bodies-Node/catch.git@a37cd16b84ca140db915b93f449fffc9761c53cb#egg=catch
### Optional dependency for postgresql backed databases
psycopg2-binary==2.8.6
