openapi: 3.0.0
servers:
  - url: https://catch.astro.umd.edu/
info:
  title: CATCH APIs
  version: "2.0.0-dev"
  description: API for finding comets and asteroids in wide-field sky survey data.
paths:
  /catch:
    get:
      tags:
        - Moving Target Query
      summary: Query PDS SBN the survey database for data covering the requested target's ephemeris position.
      operationId: catch_apis.api.moving_target_query
      parameters:
        - name: target
          in: query
          description: Moving target designation, resolvable by JPL Horizons.
          example: 65P
          required: true
          allowReserved: true
          schema:
            type: string
        - name: source
          in: query
          description: Limit search to this data source, or sources if given multiple times, otherwise search all sources.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - neat_palomar_tricam
                - neat_maui_geodss
                - skymapper
        - name: uncertainty_ellipse
          in: query
          description: Enable searches account for uncertainty ellipse using a polygonal approximation.
          required: false
          schema:
            type: boolean
        - name: padding
          in: query
          description: Increase the search area by padding the ephemeris by this amount, in units of arcmin.
          required: false
          schema:
            type: number
        - name: cached
          in: query
          description: Allow cached results, otherwise force a new search.
          example: true
          schema:
            type: boolean
      responses:
        "200":
          description: Query status.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Text message for the user.
                  queued:
                    type: boolean
                    description: true if a search has been queued, false if the results are ready/
                  queue_full:
                    type: boolean
                    description: true if the queue is full, false if the queue is accepting queries.
                  query:
                    type: object
                    properties:
                      designation:
                        type: string
                        description: The designation of the target.
                      source:
                        nullable: true
                        description: Search is limited to these sources.
                        type: array
                        items:
                          type: string
                          enum:
                            - neat_palomar_tricam
                            - neat_maui_geodss
                            - skymapper
                      uncertainty_ellipse:
                        description: Enable searches account for uncertainty ellipse using a polygonal approximation.
                        type: boolean
                      padding:
                        description: Increase the search area by padding the ephemeris by this amount, in units of arcmin.
                        type: number
                      cached:
                        type: boolean
                        description: true if a cached query was requested.
                  job_id:
                    type: string
                    description: Unique job ID for retrieving results.
                  results:
                    type: string
                    description: URL from which to retrieve results.
                  message_stream:
                    type: string
                    description: Listen for query progress at this URL.

  /caught/{job_id}:
    get:
      tags:
        - Moving Target Query
      summary: Get moving target query results.
      operationId: catch_apis.api.caught
      parameters:
        - name: job_id
          in: path
          description: Query job ID (from /catch result).
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Caught data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: integer
                    description: Number of observations that caught the target's ephemeris position.
                  job_id:
                    type: string
                    description: Query job ID
                  data:
                    type: array
                    description: List of observations matching the target query.
                    items:
                      type: object
                      description: Observation and found object metadata.
                      properties:
                        product_id:
                          type: string
                          description: Unique data product identifier, format varies by data source.
                        source:
                          type: string
                          description: Observational data source key.
                        source_name:
                          type: string
                          description: Observational data source name.
                        mjd_start:
                          type: number
                          description: Shutter open, modified Julian date, UTC.
                        mjd_stop:
                          type: number
                          description: Shutter close, modified Julian date, UTC.
                        filter:
                          type: string
                          description: Filter/bandpass.
                          nullable: true
                        exposure:
                          type: number
                          description: Exposure time, s.
                          nullable: true
                        seeing:
                          type: number
                          description: Point source FWHM, arcsec.
                          nullable: true
                        airmass:
                          type: number
                          description: Airmass of observation.
                          nullable: true
                        maglimit:
                          type: number
                          description: Detection limit, mag.
                          nullable: true
                        skymapper_image_type:
                          type: string
                          description: "Type of image: Fast Survey, Main Survey, Standard Field."
                          nullable: true
                        date:
                          type: string
                          description: Date at which the ephemeris is calculated, UTC.
                        rh:
                          type: number
                          description: Heliocentric distance, au.
                        delta:
                          type: number
                          description: Observer-target distance, au.
                        phase:
                          type: number
                          description: Sun-target-observer angle, deg.
                        drh:
                          type: number
                          description: Heliocentric velocity, km/s.
                        true_anomaly:
                          type: number
                          description: True anomaly angle, deg.
                        ra:
                          type: number
                          description: Right ascension ICRF, deg.
                        dec:
                          type: number
                          description: Declination ICRF, deg.
                        dra:
                          type: number
                          description: Right ascension rate of change, includes cos(Dec) factor, arcsec/hr.
                        ddec:
                          type: number
                          description: Declination rate of change, arcsec/hr.
                        unc_a:
                          type: number
                          description: Error ellipse semi-major axis, arcsec.
                        unc_b:
                          type: number
                          description: Error ellipse semi-minor axis, arcsec.
                        unc_theta:
                          type: number
                          description: Error ellipse position angle (E of N), deg.
                        elong:
                          type: number
                          description: Solar elongation, deg.
                        sangle:
                          type: number
                          description: Projected comet-Sun position angle (measured E of N), deg.
                        vangle:
                          type: number
                          description: Projected comet velocity vector position angle (measured E of N), deg.
                        vmag:
                          type: number
                          description: Predicted visual brightness, mag.  For comet ephemerides from JPL Horizons, this value is T-mag, if available, otherwise N-mag.
                          nullable: true
                        archive_url:
                          type: string
                          description: URL to original archive image.
                          nullable: true
                        cutout_url:
                          type: string
                          description: URL to cutout around target ephemeris.
                          nullable: true
                        preview_url:
                          type: string
                          description: URL to preview cutout image in web format.
                          nullable: true
