openapi: "3.0.0"
servers:
  - url: https://catch.astro.umd.edu/
info:
  title: CATCH APIs
  version: {{version}}
  description: API for finding comets, asteroids, and fixed targets in wide-field sky survey data.
servers:
  - url: {{base_href}}
paths:
  /catch:
    get:
      summary: Query the CATCH database for data covering the requested target's ephemeris position.
      tags:
        - Moving Target Query
      operationId: catch_apis.api.catch
      parameters:
        - name: target
          in: query
          description: Moving target designation, resolvable by JPL Horizons.
          example: 65P
          required: true
          allowReserved: true
          schema:
            type: string
        - name: sources
          in: query
          description: Limit search to these data sources.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                {% for source in sources %}
                  - {{source}}
                {% endfor %}
        - name: start_date
          in: query
          description: Search for data taken after this date (YYYY-MM-DD HH:MM)
          required: false
          schema:
            type: string
            format: date
        - name: stop_date
          in: query
          description: Search for data taken before this date (YYYY-MM-DD HH:MM).
          required: false
          schema:
            type: string
            format: date
        - name: uncertainty_ellipse
          in: query
          description: Account for uncertainty ellipse using a polygonal approximation.
          required: false
          schema:
            type: boolean
        - name: padding
          in: query
          description: Increase the search area by padding the ephemeris by this amount, in units of arcmin (0 to 120).
          required: false
          schema:
            type: number
            minimum: 0
            maximum: 120
        - name: cached
          in: query
          description: Allow cached results, otherwise force a new search.
          example: true
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: Query status.
          content:
            application/json:
              schema:
                type: object
  /caught/{job_id}:
    get:
      tags:
        - Moving Target Query
      summary: Get moving target query results.
      operationId: catch_apis.api.caught
      parameters:
        - name: job_id
          in: path
          description: Query job ID (from /catch result).
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Caught data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  parameters:
                    type: object
                    description: Query parameters.
                    properties:
                      target:
                        description: Target query string.
                        type: string
                      uncertainty_ellipse:
                        description: Was the ephemeris uncertainty ellipse used in the search?
                        type: boolean
                      padding:
                        description: Ephemeris search area was increased by this amount, units of arcmin.
                        type: number
                  status:
                    type: array
                    items:
                      type: object
                      properties:
                        source:
                          type: string
                          description: Observational data source key.
                        source_name:
                          type: string
                          description: Observational data source name.
                        date:
                          type: string
                          description: Date the query was executed.
                        status:
                          type: string
                          description: Query status, e.g., in progress, errored, finished.
                        execution_time:
                          type: number
                          description: Query execution time in seconds, null for queries returning cached data.
                          nullable: true
                        count:
                          type: integer
                          description: Number of observations that caught the target.
                  count:
                    type: integer
                    description: Number of observations that caught the target's ephemeris position.
                  job_id:
                    type: string
                    description: Query job ID.
                  version:
                    type: string
                    description: API version
                  data:
                    type: array
                    description: List of observations matching the target query.
                    items:
                      type: object
                      description: Observation and found object metadata.
                      properties:
                        product_id:
                          type: string
                          description: Unique data product identifier, format varies by data source.
                        source:
                          type: string
                          description: Observational data source key.
                        source_name:
                          type: string
                          description: Observational data source name.
                        mjd_start:
                          type: number
                          description: Shutter open, modified Julian date, UTC.
                        mjd_stop:
                          type: number
                          description: Shutter close, modified Julian date, UTC.
                        filter:
                          type: string
                          description: Filter/bandpass.
                          nullable: true
                        exposure:
                          type: number
                          description: Exposure time, s.
                          nullable: true
                        seeing:
                          type: number
                          description: Point source FWHM, arcsec.
                          nullable: true
                        airmass:
                          type: number
                          description: Airmass of observation.
                          nullable: true
                        maglimit:
                          type: number
                          description: Detection limit, mag.  Definition varies by survey.
                          nullable: true
                        "css:telescope":
                          type: string
                          description: Catalina Sky Survey telescope name.
                          nullable: true
                        "ps1:frame_id":
                          type: integer
                          description: PanSTARRS 1 survey frame/exposure identifier of the frame associated with this warp.
                          nullable: true
                        "ps1:projection_id":
                          type: integer
                          description: PanSTARRS 1 projection cell identifier.
                          nullable: true
                        "ps1:skycell_id":
                          type: integer
                          description: PanSTARRS 1 survey skycell region identifier.
                          nullable: true
                        "skymapper:field_id":
                          type: integer
                          description: SkyMapper survey field identifier.
                          nullable: true
                        "skymapper:image_type":
                          type: string
                          description: SkyMapper image type.
                          enum:
                            - Shallow Survey
                            - Main Survey
                            - Standard Field
                          nullable: true
                        "skymapper:sb_mag":
                          type: number
                          description: SkyMapper image surface brightness estimate (ABmag).
                          nullable: true
                        "skymapper:zpapprox":
                          type: number
                          description: SkyMapper approximate photometric zeropoint for the exposure.
                          nullable: true
                        date:
                          type: string
                          description: Date at which the ephemeris is calculated, UTC.
                        rh:
                          type: number
                          description: Heliocentric distance, au.
                        delta:
                          type: number
                          description: Observer-target distance, au.
                        phase:
                          type: number
                          description: Sun-target-observer angle, deg.
                        drh:
                          type: number
                          description: Heliocentric velocity, km/s.
                        true_anomaly:
                          type: number
                          description: True anomaly angle, deg.
                        ra:
                          type: number
                          description: Right ascension ICRF, deg.
                        dec:
                          type: number
                          description: Declination ICRF, deg.
                        dra:
                          type: number
                          description: Right ascension rate of change, includes cos(Dec) factor, arcsec/hr.
                        ddec:
                          type: number
                          description: Declination rate of change, arcsec/hr.
                        unc_a:
                          type: number
                          nullable: true
                          description: Error ellipse semi-major axis, arcsec.
                        unc_b:
                          type: number
                          nullable: true
                          description: Error ellipse semi-minor axis, arcsec.
                        unc_theta:
                          type: number
                          nullable: true
                          description: Error ellipse position angle (E of N), deg.
                        elong:
                          type: number
                          description: Solar elongation, deg.
                        sangle:
                          type: number
                          description: Projected comet-Sun position angle (measured E of N), deg.
                        vangle:
                          type: number
                          description: Projected comet velocity vector position angle (measured E of N), deg.
                        vmag:
                          type: number
                          description: Predicted visual brightness, mag.  For comet ephemerides from JPL Horizons, this value is T-mag, if available, otherwise N-mag.
                          nullable: true
                        retrieved:
                          type: string
                          description: Date when the ephemeris was retrieved from the ephemeris generator, UTC.
                        archive_url:
                          type: string
                          description: URL to original archive image.
                          nullable: true
                        cutout_url:
                          type: string
                          description: URL to cutout around target ephemeris.
                          nullable: true
                        preview_url:
                          type: string
                          description: URL to preview cutout image in web format.
                          nullable: true
  /fixed:
    get:
      tags:
        - Fixed target query
      summary: Fixed target searches.
      operationId: catch_apis.api.fixed_target_query
      parameters:
        - name: ra
          in: query
          description: 'Right ascension in sexagesimal or decimal format, e.g., "10.2345d", "1 2 0 hours", "1h2m3.4s".  If the unit is unspecified and the string is parsable as a decimal value, then degree is assumed.'
          example: "05:34:32.0"
          required: true
          allowReserved: true
          schema:
            type: string
        - name: dec
          in: query
          description: Declination, sexagesimal or decimal format.  If the unit is unspecified then degree is assumed.
          example: "+22 00 48"
          required: true
          allowReserved: true
          schema:
            type: string
        - name: sources
          in: query
          description: Limit search to these data sources.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                {% for source in sources %}
                  - {{source}}
                {% endfor %}
        - name: start_date
          in: query
          description: Search for data taken after this date.
          required: false
          schema:
            type: string
            format: date
        - name: stop_date
          in: query
          description: Search for data taken before this date.
          required: false
          schema:
            type: string
            format: date
        - name: radius
          in: query
          description: Search around the point, arcmin.
          required: false
          schema:
            type: number
            minimum: 0
            maximum: 600
        - name: intersection_type
          in: query
          description: Type of intersections to allow between search area and data.
          required: false
          schema:
            type: string
            enum:
              - ImageIntersectsArea
              - ImageContainsArea
              - AreaContainsImage
            default: ImageIntersectsArea
      responses:
        "200":
          description: Query results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Message for the user.
                  version:
                    type: string
                    description: API version
                  query:
                    type: object
                    description: Query parameters used.
                    properties:
                      ra:
                        type: string
                        description: Right ascension, degrees.
                      dec:
                        type: string
                        description: Declination, degrees.
                      sources:
                        description: Search was limited to these sources.
                        type: array
                        nullable: true
                        items:
                          type: string
                      start_date:
                        description: Searched for data taken after this date.
                        nullable: true
                        type: string
                      stop_date:
                        description: Searched for data taken before this date.
                        nullable: true
                        type: string
                      radius:
                        description: Searched this radius around the coordinates, arcmin.
                        type: number
                      intersection_type:
                        description: Types of intersections allowed between the search area and data.
                        type: string
                  count: 
                    type: integer
                    description: Number of observations found.
                  data:
                    type: array
                    description: List of observations matching the query.
                    items:
                      type: object
                      description: Observation and found object metadata.
                      properties:
                        product_id:
                          type: string
                          description: Unique data product identifier, format varies by data source.
                        source:
                          type: string
                          description: Observational data source key.
                        source_name:
                          type: string
                          description: Observational data source name.
                        mjd_start:
                          type: number
                          description: Shutter open, modified Julian date, UTC.
                        mjd_stop:
                          type: number
                          description: Shutter close, modified Julian date, UTC.
                        filter:
                          type: string
                          description: Filter/bandpass.
                          nullable: true
                        exposure:
                          type: number
                          description: Exposure time, s.
                          nullable: true
                        seeing:
                          type: number
                          description: Point source FWHM, arcsec.
                          nullable: true
                        airmass:
                          type: number
                          description: Airmass of observation.
                          nullable: true
                        maglimit:
                          type: number
                          description: Detection limit, mag.  Definition varies by survey.
                          nullable: true
                        "css:telescope":
                          type: string
                          description: Catalina Sky Survey telescope name.
                          nullable: true
                        "ps1:frame_id":
                          type: integer
                          description: PanSTARRS 1 survey frame/exposure identifier of the frame associated with this warp.
                          nullable: true
                        "ps1:projection_id":
                          type: integer
                          description: PanSTARRS 1 projection cell identifier.
                          nullable: true
                        "ps1:skycell_id":
                          type: integer
                          description: PanSTARRS 1 survey skycell region identifier.
                          nullable: true
                        "skymapper:field_id":
                          type: integer
                          description: SkyMapper survey field identifier.
                          nullable: true
                        "skymapper:image_type":
                          type: string
                          description: SkyMapper image type.
                          enum:
                            - Shallow Survey
                            - Main Survey
                            - Standard Field
                          nullable: true
                        "skymapper:sb_mag":
                          type: number
                          description: SkyMapper image surface brightness estimate (ABmag).
                          nullable: true
                        "skymapper:zpapprox":
                          type: number
                          description: SkyMapper approximate photometric zeropoint for the exposure.
                          nullable: true
                        date:
                          type: string
                          description: Mid-time of the observation, UTC.
                        archive_url:
                          type: string
                          description: URL to original archive image.
                          nullable: true
                        cutout_url:
                          type: string
                          description: URL to cutout around target ephemeris.
                          nullable: true
                        preview_url:
                          type: string
                          description: URL to preview cutout image in web format.
                          nullable: true
  /status/sources:
    get:
      tags:
        - CATCH Status
      summary: Summary of data sources in CATCH's database.
      operationId: catch_apis.api.status.sources
      responses:
        "200":
          description: Data source summaries.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  description: Data source summary.
                  properties:
                    source:
                      type: string
                      description: Observational data source key.
                      nullable: true
                    source_name:
                      type: string
                      description: Observational data source name.
                    count:
                      type: integer
                      description: Total number of images.
                    start_date:
                      type: string
                      description: Earliest image start time, UTC.
                      nullable: true
                    stop_date:
                      type: string
                      description: Latest image stop time, UTC.
                      nullable: true
                    updated:
                      type: string
                      description: Time of last update, UTC.
  /status/{job_id}:
    get:
      tags:
        - CATCH Status
      summary: Query status by job_id
      operationId: catch_apis.api.status.job_id
      parameters:
        - name: job_id
          in: path
          description: Query job ID (from /catch result).
          required: true
          schema:
            type: string
      responses:
        "200":
          description: CATCH query status
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    description: Query job ID.
                  version:
                    type: string
                    description: API version
                  parameters:
                    type: object
                    description: Query parameters.
                    properties:
                      target:
                        description: Target query string.
                        type: string
                      uncertainty_ellipse:
                        description: Was the ephemeris uncertainty ellipse used in the search?
                        type: boolean
                      padding:
                        description: Ephemeris search area was increased by this amount, units of arcmin.
                        type: number
                  status:
                    type: array
                    items:
                      type: object
                      properties:
                        source:
                          type: string
                          description: Observational data source key.
                        source_name:
                          type: string
                          description: Observational data source name.
                        date:
                          type: string
                          description: Date the query was executed.
                        status:
                          type: string
                          description: Query status, e.g., in progress, errored, finished.
                        execution_time:
                          type: number
                          description: Query execution time in seconds, null for queries returning cached data.
                          nullable: true
                        count:
                          type: integer
                          description: Number of observations that caught the target.
  /status/updates:
    get:
      tags:
        - CATCH Status
      summary: Summary of recent updates to CATCH's database.
      operationId: catch_apis.api.status.updates
      responses:
        "200":
          description: Summary of recent updates.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  description: Data source summary.
                  properties:
                    source:
                      type: string
                      description: Observational data source key.
                      nullable: true
                    source_name:
                      type: string
                      description: Observational data source name.
                    days:
                      type: integer
                      description: Number of days of history summarized.
                    count:
                      type: integer
                      description: Number of observations.
                    start_date:
                      type: string
                      description: Earliest image start time, UTC.
                      nullable: true
                    stop_date:
                      type: string
                      description: Latest image stop time, UTC.
                      nullable: true
