openapi: "3.0.0"
servers:
  - url: https://catch.astro.umd.edu/
info:
  title: CATCH APIs
  version: {{version}}
  description: |
    API for finding comets, asteroids, and fixed targets in wide-field sky
    survey data.  Most of the available data sets are archived with the
    Small-Bodies Node of the NASA Planetary Data System.
servers:
  - url: {{base_href}}
paths:
  /catch:
    get:
      summary: Query the CATCH database for data covering the requested target's ephemeris position.
      tags:
        - Moving target query
      operationId: catch_apis.api.catch.catch_controller
      parameters:
        - name: target
          in: query
          description: Moving target designation, resolvable by JPL Horizons.
          example: 65P
          required: true
          allowReserved: true
          schema:
            type: string
        - name: sources
          in: query
          description: Limit search to these data sources.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                {% for source in sources %}
                  - {{source}}
                {% endfor %}
        - name: start_date
          in: query
          description: Search for data taken after this date (YYYY-MM-DD HH:MM)
          required: false
          schema:
            type: string
            format: date
        - name: stop_date
          in: query
          description: Search for data taken before this date (YYYY-MM-DD HH:MM).
          required: false
          schema:
            type: string
            format: date
        - name: uncertainty_ellipse
          in: query
          description: Search using the uncertainty ellipse.
          required: false
          schema:
            type: boolean
            default: false
        - name: padding
          in: query
          description: Increase the search area by padding the ephemeris by this amount, 0 to 120 arcmin (0.01 arcmin steps).
          required: false
          schema:
            type: number
            minimum: 0
            maximum: 120
            default: 0
        - name: cached
          in: query
          description: Allow cached results, otherwise force a new search.
          example: true
          required: false
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: Query status.
          content:
            application/json:
              schema:
                type: object
                properties:
                  query:
                    description: Query parameters.
                    type: object
                    properties:
                      target:
                        description: The parsed search target.
                        type: string
                      sources:
                        description: Search was limited to these data sources.
                        type: array
                        nullable: true
                        items:
                          type: string
                      start_date:
                        description: Searched for data taken after this date (YYYY-MM-DD HH:MM).
                        type: string
                        format: date
                      stop_date:
                        description: Searched for data taken before this date (YYYY-MM-DD HH:MM).
                        type: string
                        format: date
                      cached:
                        description: Cached results were allowed.
                        type: boolean
                      uncertainty_ellipse:
                        description: Searched using the uncertainty ellipse.
                        type: boolean
                      padding:
                        description: Increased the search area by padding the ephemeris by this amount (arcmin).
                        type: number
                  version:
                    description: "CATCH API version"
                    type: string
                  job_id:
                    description: Unique job ID, used to retrieve results.
                    type: string
                  error:
                    description: true if an error occurred.
                    type: boolean
                  queued:
                    description: true if a search has been queued, false if the results are ready."
                    type: boolean
                  queue_full:
                    description: true if the queue is full, false if the queue is accepting queries.
                    type: boolean
                  queue_position:
                    description: Query position within the queue.  0 is next to be processed.  null if not queued (e.g., already processing).
                    type: integer
                    nullable: true
                  message:
                    description: Text message for the user.
                    type: string
                    nullable: true
                  message_stream:
                    description: Listen for query progress at this URL.  Messages will be prefixed with the first eight characters of your job_id.
                    type: string
                  results:
                    description: URL from which to retrieve results.
                    type: string
                required:
                  - parameters
                  - version
                  - job_id
                  - queued
                  - queue_full
                  - message
  /caught/{job_id}:
    get:
      tags:
        - Moving target query
      summary: Get moving target query results.
      operationId: catch_apis.api.caught.caught_controller
      parameters:
        - name: job_id
          in: path
          description: Query job ID (from /catch result).
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Caught data.
          content:
            application/json:
              schema:
                type: object
                properties:
                  parameters:
                    type: object
                    description: Query parameters.
                    properties:
                      target:
                        description: Target query string.
                        type: string
                      uncertainty_ellipse:
                        description: Was the ephemeris uncertainty ellipse used in the search?
                        type: boolean
                      padding:
                        description: Ephemeris search area was increased by this amount, units of arcmin.
                        type: number
                  status:
                    type: array
                    items:
                      type: object
                      properties:
                        source:
                          type: string
                          description: Observational data source key.
                        source_name:
                          type: string
                          description: Observational data source name.
                        date:
                          type: string
                          description: Date the query was executed.
                        status:
                          type: string
                          description: Query status, e.g., in progress, errored, finished.
                        execution_time:
                          type: number
                          description: Query execution time in seconds, null for queries returning cached data.
                          nullable: true
                        count:
                          type: integer
                          description: Number of observations that caught the target.
                  count:
                    type: integer
                    description: Number of observations that caught the target's ephemeris position.
                  job_id:
                    type: string
                    description: Query job ID.
                  version:
                    type: string
                    description: API version
                  data:
                    type: array
                    description: List of observations matching the target query.
                    items:
                      type: object
                      description: Observation and found object metadata.
                      properties:
                        observation_id:
                          type: integer
                          description: Unique CATCH observation identifier.
                        product_id:
                          type: string
                          description: Unique data product identifier, format varies by data source.
                        source:
                          type: string
                          description: Observational data source key.
                        source_name:
                          type: string
                          description: Observational data source name.
                        mjd_start:
                          type: number
                          description: Shutter open, modified Julian date, UTC.
                        mjd_stop:
                          type: number
                          description: Shutter close, modified Julian date, UTC.
                        fov:
                          type: string
                          description: "Data product field of view as a comma-separated list of corners as RA:Dec in units of degrees."
                        filter:
                          type: string
                          description: Filter/bandpass.
                          nullable: true
                        exposure:
                          type: number
                          description: Exposure time, s.
                          nullable: true
                        seeing:
                          type: number
                          description: Point source FWHM, arcsec.
                          nullable: true
                        airmass:
                          type: number
                          description: Airmass of observation.
                          nullable: true
                        maglimit:
                          type: number
                          description: Detection limit, mag.  Definition varies by survey.
                          nullable: true
                        "css:telescope":
                          type: string
                          description: Catalina Sky Survey telescope name.
                          nullable: true
                        "ps1:frame_id":
                          type: integer
                          description: PanSTARRS 1 survey frame/exposure identifier of the frame associated with this warp.
                          nullable: true
                        "ps1:projection_id":
                          type: integer
                          description: PanSTARRS 1 projection cell identifier.
                          nullable: true
                        "ps1:skycell_id":
                          type: integer
                          description: PanSTARRS 1 survey skycell region identifier.
                          nullable: true
                        "skymapper:field_id":
                          type: integer
                          description: SkyMapper survey field identifier.
                          nullable: true
                        "skymapper:image_type":
                          type: string
                          description: SkyMapper image type.
                          enum:
                            - Shallow Survey
                            - Main Survey
                            - Standard Field
                          nullable: true
                        "skymapper:sb_mag":
                          type: number
                          description: SkyMapper image surface brightness estimate (ABmag).
                          nullable: true
                        "skymapper:zpapprox":
                          type: number
                          description: SkyMapper approximate photometric zeropoint for the exposure.
                          nullable: true
                        found_id:
                          type: integer
                          description: Unique CATCH found object metadata identifier.
                        date:
                          type: string
                          description: Date at which the ephemeris is calculated, UTC.
                        rh:
                          type: number
                          description: Heliocentric distance, au.
                        delta:
                          type: number
                          description: Observer-target distance, au.
                        phase:
                          type: number
                          description: Sun-target-observer angle, deg.
                        drh:
                          type: number
                          description: Heliocentric velocity, km/s.
                        true_anomaly:
                          type: number
                          description: True anomaly angle, deg.
                        ra:
                          type: number
                          description: Right ascension ICRF, deg.
                        dec:
                          type: number
                          description: Declination ICRF, deg.
                        dra:
                          type: number
                          description: Right ascension rate of change, includes cos(Dec) factor, arcsec/hr.
                        ddec:
                          type: number
                          description: Declination rate of change, arcsec/hr.
                        unc_a:
                          type: number
                          nullable: true
                          description: Error ellipse semi-major axis, arcsec.
                        unc_b:
                          type: number
                          nullable: true
                          description: Error ellipse semi-minor axis, arcsec.
                        unc_theta:
                          type: number
                          nullable: true
                          description: Error ellipse position angle (E of N), deg.
                        elong:
                          type: number
                          description: Solar elongation, deg.
                        sangle:
                          type: number
                          description: Projected comet-Sun position angle (measured E of N), deg.
                        vangle:
                          type: number
                          description: Projected comet velocity vector position angle (measured E of N), deg.
                        vmag:
                          type: number
                          description: Predicted visual brightness, mag.  For comet ephemerides from JPL Horizons, this value is T-mag, if available, otherwise N-mag.
                          nullable: true
                        retrieved:
                          type: string
                          description: Date when the ephemeris was retrieved from the ephemeris generator, UTC.
                        archive_url:
                          type: string
                          description: URL to original archive image.
                          nullable: true
                        cutout_url:
                          type: string
                          description: URL to cutout around target ephemeris.
                          nullable: true
                        preview_url:
                          type: string
                          description: URL to preview cutout image in web format.
                          nullable: true
  /fixed:
    get:
      tags:
        - Fixed target query
      summary: Fixed target searches.
      operationId: catch_apis.api.fixed.fixed_target_query_controller
      parameters:
        - name: ra
          in: query
          description: 'Right ascension (ICRF) in sexagesimal or decimal format.  Units may be specified, e.g., "10.2345d", "1 2 0 hours", "1h2m3.4s", or inferred (hour angle for sexagesimal format, degrees for decimal format).'
          example: "05:34:32.0"
          required: true
          allowReserved: true
          schema:
            type: string
        - name: dec
          in: query
          description: Declination (ICRF), sexagesimal or decimal format.  Units may be specified, e.g., "10.2345d", "1d2m3.4s".  If units are not given, degrees are assumed.
          example: "+22 00 48"
          required: true
          allowReserved: true
          schema:
            type: string
        - name: sources
          in: query
          description: Limit search to these data sources.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                {% for source in sources %}
                  - {{source}}
                {% endfor %}
        - name: start_date
          in: query
          description: Search for data taken after this date (YYYY-MM-DD HH:MM)
          required: false
          schema:
            type: string
            format: date
        - name: stop_date
          in: query
          description: Search for data taken before this date (YYYY-MM-DD HH:MM)
          required: false
          schema:
            type: string
            format: date
        - name: radius
          in: query
          description: Search around the point, 0 to 120 arcmin.
          required: false
          schema:
            type: number
            minimum: 0
            maximum: 120
        - name: intersection_type
          in: query
          description: Type of intersections to allow between the search area and the data products.
          required: false
          schema:
            type: string
            enum:
              - ImageIntersectsArea
              - ImageContainsArea
              - AreaContainsImage
            default: ImageIntersectsArea
      responses:
        "200":
          description: Query results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    description: true if an error occurred.
                    type: boolean
                  message:
                    type: string
                    description: Message for the user.
                  version:
                    type: string
                    description: API version
                  query:
                    type: object
                    description: Query parameters used.
                    properties:
                      ra:
                        type: string
                        description: Right ascension, degrees.
                      dec:
                        type: string
                        description: Declination, degrees.
                      sources:
                        description: Search was limited to these sources.
                        type: array
                        nullable: true
                        items:
                          type: string
                      start_date:
                        description: Searched for data taken after this date.
                        nullable: true
                        type: string
                      stop_date:
                        description: Searched for data taken before this date.
                        nullable: true
                        type: string
                      radius:
                        description: Searched this radius around the coordinates, arcmin.
                        type: number
                      intersection_type:
                        description: Types of intersections allowed between the search area and data.
                        type: string
                  count: 
                    type: integer
                    description: Number of observations found.
                  data:
                    type: array
                    description: List of observations matching the query.
                    items:
                      type: object
                      description: Observation and found object metadata.
                      properties:
                        observation_id:
                          type: integer
                          description: Unique CATCH observation identifier.
                        product_id:
                          type: string
                          description: Unique data product identifier, format varies by data source.
                        source:
                          type: string
                          description: Observational data source key.
                        source_name:
                          type: string
                          description: Observational data source name.
                        mjd_start:
                          type: number
                          description: Shutter open, modified Julian date, UTC.
                        mjd_stop:
                          type: number
                          description: Shutter close, modified Julian date, UTC.
                        fov:
                          type: string
                          description: "Data product field of view as a comma-separated list of corners as RA:Dec in units of degrees."
                        filter:
                          type: string
                          description: Filter/bandpass.
                          nullable: true
                        exposure:
                          type: number
                          description: Exposure time, s.
                          nullable: true
                        seeing:
                          type: number
                          description: Point source FWHM, arcsec.
                          nullable: true
                        airmass:
                          type: number
                          description: Airmass of observation.
                          nullable: true
                        maglimit:
                          type: number
                          description: Detection limit, mag.  Definition varies by survey.
                          nullable: true
                        "css:telescope":
                          type: string
                          description: Catalina Sky Survey telescope name.
                          nullable: true
                        "ps1:frame_id":
                          type: integer
                          description: PanSTARRS 1 survey frame/exposure identifier of the frame associated with this warp.
                          nullable: true
                        "ps1:projection_id":
                          type: integer
                          description: PanSTARRS 1 projection cell identifier.
                          nullable: true
                        "ps1:skycell_id":
                          type: integer
                          description: PanSTARRS 1 survey skycell region identifier.
                          nullable: true
                        "skymapper:field_id":
                          type: integer
                          description: SkyMapper survey field identifier.
                          nullable: true
                        "skymapper:image_type":
                          type: string
                          description: SkyMapper image type.
                          enum:
                            - Shallow Survey
                            - Main Survey
                            - Standard Field
                          nullable: true
                        "skymapper:sb_mag":
                          type: number
                          description: SkyMapper image surface brightness estimate (ABmag).
                          nullable: true
                        "skymapper:zpapprox":
                          type: number
                          description: SkyMapper approximate photometric zeropoint for the exposure.
                          nullable: true
                        date:
                          type: string
                          description: Mid-time of the observation, UTC.
                        archive_url:
                          type: string
                          description: URL to original archive image.
                          nullable: true
                        diff_url:
                          type: string
                          description: URL to difference (reference sky subtracted) image, if available.
                          nullable: true
                        cutout_url:
                          type: string
                          description: URL to cutout around target ephemeris.
                          nullable: true
                        preview_url:
                          type: string
                          description: URL to preview cutout image in web format.
                          nullable: true
  /download:
    post:
      tags:
        - Download data
      summary: Download data based on a moving or fixed target query.
      operationId: catch_apis.api.download.package
      requestBody:
        description: Data products to download.
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                images:
                  type: array
                  items:
                    type: object
                    description: Specifications for each image to download.
                    properties:
                      observation_id:
                        type: integer
                        description: Unique CATCH observation identifier.
                      ra:
                        type: number
                        description: Right ascension of image cutout center point, ICRF, degrees.
                      dec:
                        type: number
                        description: Declination of image cutout center point, ICRF, degrees.
                      size:
                        type: number
                        description: Cutout image size, degrees.
                  example:
                    - observation_id: 52685201
                      ra: 89.04414
                      dec: 51.10841
                      size: 0.15
                    - observation_id: 52685157
                      ra: 88.98157
                      dec: 51.07456
                      size: 0.15
                    - observation_id: 52685145
                      ra: 88.96483
                      dec: 51.06541
                      size: 0.15
                    - observation_id: 52685221
                      ra: 89.07327
                      dec: 51.12399
                      size: 0.15
      responses:
        "200":
          description: URL to packaged data.
          content:
            application/json:
              schema:
                type: string
                description: URL
  /status/sources:
    get:
      tags:
        - CATCH status
      summary: Summary of data sources in CATCH's database.
      operationId: catch_apis.api.status.sources_controller
      responses:
        "200":
          description: Data source summaries.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  description: Data source summary.
                  properties:
                    source:
                      type: string
                      description: Observational data source key.
                      nullable: true
                    source_name:
                      type: string
                      description: Observational data source name.
                    count:
                      type: integer
                      description: Total number of images.
                    start_date:
                      type: string
                      description: Earliest image start time, UTC.
                      nullable: true
                    stop_date:
                      type: string
                      description: Latest image stop time, UTC.
                      nullable: true
                    nights:
                      type: integer
                      description: Number of nights with data.
                    updated:
                      type: string
                      description: Time of last update, UTC.
  /status/{job_id}:
    get:
      tags:
        - CATCH status
      summary: Query status by job_id.
      operationId: catch_apis.api.status.job_id_controller
      parameters:
        - name: job_id
          in: path
          description: Query job ID (from /catch result).
          required: true
          schema:
            type: string
      responses:
        "200":
          description: CATCH query status
          content:
            application/json:
              schema:
                type: object
                properties:
                  job_id:
                    type: string
                    description: Query job ID.
                  version:
                    type: string
                    description: API version
                  parameters:
                    type: object
                    description: Query parameters.
                    properties:
                      padding:
                        description: Ephemeris search area was increased by this amount, units of arcmin.
                        type: number
                      sources:
                        description: Sources to search.
                        type: array
                        items:
                          type: string
                      start_date:
                        description: Query start date.
                        type: string
                      stop_date:
                        description: Query stop date.
                        type: string
                      target:
                        description: Target query string.
                        type: string
                      uncertainty_ellipse:
                        description: Was the ephemeris uncertainty ellipse used in the search?
                        type: boolean
                  status:
                    type: array
                    items:
                      type: object
                      properties:
                        source:
                          type: string
                          description: Observational data source key.
                        source_name:
                          type: string
                          description: Observational data source name.
                        date:
                          type: string
                          description: Date the query was executed.
                        status:
                          type: string
                          description: Query status, e.g., in progress, errored, finished.
                        execution_time:
                          type: number
                          description: Query execution time in seconds, null for queries returning cached data.
                          nullable: true
                        count:
                          type: integer
                          description: Number of observations that caught the target.
  /status/updates:
    get:
      tags:
        - CATCH status
      summary: Summary of recent updates to CATCH's database.
      operationId: catch_apis.api.status.updates_controller
      responses:
        "200":
          description: Summary of recent updates.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  description: Data source summary.
                  properties:
                    source:
                      type: string
                      description: Observational data source key.
                    source_name:
                      type: string
                      description: Observational data source name.
                    days:
                      type: integer
                      description: Number of days of history summarized.
                    count:
                      type: integer
                      description: Number of observations.
                    start_date:
                      type: string
                      description: Earliest image start time, UTC.
                    stop_date:
                      type: string
                      description: Latest image stop time, UTC.
  /status/queue:
    get:
      tags:
        - CATCH status
      summary: Show the CATCH job queue.
      operationId: catch_apis.api.status.queue_controller
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: object
                description: Job queue summary.
                properties:
                  depth:
                    type: integer
                    description: Full depth of the job queue.
                  full:
                    type: boolean
                    description: True if the job queue is full.
                  jobs:
                    type: array
                    items:
                      type: object
                      description: List of jobs in the queue.
                      properties:
                        prefix:
                          type: string
                          description: Job ID prefix.
                        position:
                          type: integer
                          description: Queue position.
                        enqueued_at:
                          type: string
                          description: Time when the job was enqueued, UTC.
                        status:
                          type: string
                          description: Job status.
                          enum:
                            - queued
                            - finished
                            - failed
                            - started
                            - deferred
                            - scheduled
                            - stopped
                            - cancelled
  /status/queries:
    get:
      tags:
        - CATCH status
      summary: Summary of recent CATCH job queries.
      operationId: catch_apis.api.status.queries_controller
      responses:
        "200":
          description: Success.
          content:
            application/json:
              schema:
                type: array
                description: List of query summary by days of history.
                items:
                  type: object
                  description: Query summary.
                  properties:
                    days:
                      type: integer
                      description: Number of days of history summarized.
                    jobs:
                      type: integer
                      description: Number of query jobs submitted.
                    finished:
                      type: integer
                      description: Number of completed searches on any data source.
                    cached:
                      type: integer
                      description: Number of completed searches that returned cached results.
                    errored:
                      type: integer
                      description: Number of searches with an error status.
                    in_progress:
                      type: integer
                      description: Number of searches with an "in progress" status.
  {% if test_env %}
  /test/data/{filename}:
    get:
      tags:
        - CATCH testing
      summary: Get data for unit testing.
      operationId: catch_apis.api.test.data
      parameters:
        - name: filename
          description: File name to get.  See api.test.data() function for details.
          in: path
          required: true
          allowEmptyValue: false
          schema:
            type: string
        - name: ra
          description: "Right ascension in degrees."
          in: query
          schema:
            type: number
            nullable: true
        - name: dec
          description: "Declination in degrees."
          in: query
          schema:
            type: number
            nullable: true
      responses:
        "200":
          description: Testing data
          content:
            text/plain:
              schema:
                type: string
            image/fits:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
  {% endif %}